:root {
	--dh-draggable-w1: 400px;
	--dh-draggable-h1: 100px;
	--dh-draggable-border: 3px solid blue;
	--dh-draggable-padding: 10px;
}

.dh-draggable {
	width: var(--dh-draggable-w1);
	height: var(--dh-draggable-h1);
	border: var(--dh-draggable-border);
	padding: 10px;
	text-align: center;
	display: inline-flex;
	justify-content: center;
}
.dh-dropzone {
	padding: 10px;
	width: 400px;
	height: 120px;
	margin: 20px;
	border: 5px solid green;
	display: flex;
}
.dh-drop-placeholder {
	width: var(--dh-draggable-w1);
	height: var(--dh-draggable-h1);
	border: var(--dh-draggable-border);
}
.dh-storage {
	width: var(--dh-draggable-w1);
	height: var(--dh-draggable-h1);
	border: var(--dh-draggable-border);
}

.dh-status {
	width: 80vw;
	height: 50px;
	border: 5px double red;
	display: none;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
}

.dh-status-display {
	border: 1px solid black;
	flex-grow: 1;
	flex-basis: 20%;
	font-size: 20px;
}
.dh-status-tracking-state-wrapper {
	font-size: 20px;
}

.dh-status-tracking-state,
.dh-status-coords-x,
.dh-status-coords-y {
	color: red;
	font-style: italic;
	text-align: center;
}
.dh-status-dragover,
.dh-status-dragleave {
	color: red;
	font-style: italic;
	text-align: center;
	font-size: 25px;
}
.dh-item-hide {
	display: none;
}
.dh-temp-after::after {
	content: "Put it Here";
}
.dh-cursor-hide{
	cursor: none;
}
.dh-custom-img{
	position: absolute;
	width: var(--dh-draggable-w1);
	height: var(--dh-draggable-h1);
	border: 5px solid blue;
}